<div class="content-wrapper">
    <form id="form" action="#">
        <input type="radio" name="level" id="level-easy" checked>
        <label class="label" for="level-easy">Easy level</label>
        <input type="radio" name="level" id="level-medium">
        <label class="label" for="level-medium">Medium level</label>
        <input type="radio" name="level" id="level-hard">
        <label class="label" for="level-hard">Hard level</label>
    </form>
    <button type="button" class="btn btn-start">start</button>
</div>