body{
  position: relative;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.content-wrapper{
  font-size: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
#form{
  text-align: center;
}
input{
  cursor: pointer;
}
.label{
  cursor: pointer;
}
.btn{
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  &-menu{
    display: none;
  }
}
#root{
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
.score{
  display: none;
  font-size: 25px;
  text-align: center;
}
.counter{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  font-size: 72px;
  top: calc(50% - 41.5px);
  left: calc(50% - 18px);
  z-index: 100;
}
table{
  margin-left: auto;
  margin-right: auto;
  border-spacing: unset;
}
td{
  border: 1px solid #000;
  width: 9vw;
  height: 9vh;
  @media (max-width: 900px) {
    height: 6.5vh;
  }
  @media (max-width: 458px) {
    width: 8vw;
    height: 8vh;
  }
}

